@font-face {
	font-family: metalMania;
	src: url('../fonts/metal-mania.regular.ttf');
}

.metallized {
	font-family: metalMania;
	font-size: 3rem;
}

.header a:not(:last-child) {
	margin-right: 5px;
}

.highlighted {
	font-weight: bold;
}

.description {
	width: 300px;
	height: 150px;
}

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
}

td, th {
	padding: 10px;
}

th {
	text-align: left;
}

.footer {
	margin-top: 50px;
}
